dbxsd/dataset.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns:dflt="tm_database_test">
	<xsd:import namespace="tm_database_test" schemaLocation="tm_database_test.xsd" />
	<xsd:element name="dataset">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="dbmaintain_scripts" type="dflt:dbmaintain_scripts__type" />
				<xsd:element name="task" type="dflt:task__type" />
				<xsd:element name="performer" type="dflt:performer__type" />
				<xsd:any namespace="tm_database_test" />
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
